<!doctype html>
<html style="height:100%;background-color:#ffffff">
   <script>
   </script>
    <head>
        <link rel="stylesheet" href="../static/style.css">
        <title>Tutorial</title>
     </head>
   <body style="font-family: Helvetica, sans-serif; font-size: 18px;">
    <fieldset class="boxTitle"><div style = "-webkit-text-stroke: 2px black;font-size: 60px; color:white; text-align: center;font-weight:900;">TUTORIAL</div></fieldset>
    <fieldset style="background-color:#EBEBEB;border-color:black ;">
	    <p style="font-weight:bold;font-size:20px";> Login e Subscribe </p>
	    <p> Per iscriversi è sufficiente sceliere un nome utente ed una password. Il nome utente deve essere unico e non è modificabile.</p>
	    <p> Per effettuare il login è sufficiente compilare i campi di username e password </p>
	    <p style="font-weight:bold;font-size:20px";> Chat </p>
            <p> Il software funziona in modo simile ad una chat classica.<br>
            È sufficiente compilare l'area di "prompt" con la propria richiesta e poi premere invio per ottenere la risposta del bot.<br>
            Il bot ricorda cosa gli hai chiesto negli ultimi messaggi, puoi quindi fargli richieste specifiche su parti precedenti della conversazione.<br>
            Tramite il menù a tendina "Modalità" è possibile selezionare il funzionamento del bot in modo da ottimizzare le risposte. <br><br>
            <i>N.B. Il prompt da te fornito influenza molto la risposta del bot, indefferentemente dalla modalità.</i>
            </p>
            <p>Le modalità sono:
                <ul style="margin-top:-1vh;">
                    <li>Chat generica: il bot si comporta in modo normale, senza attenzioni specifiche.</li>
                    <li>Esperto sicurezza: il bot è configurato per rispondere a domande riguardanti la sicurezza sul lavoro.</li>
                    <li>Generatore slide: il bot è configurato per la produzione di slide aventi come argomento la sicurezza sul lavoro.</li>
                    <li>Traduttore: il bot è configurato per la traduzione di testo nelle lingue più diffuse, se non viene specificata una lingua per la traduzione, il bot tradurrà ITA-ENG e viceversa.</li>
                </ul>
            </p>
            <p>È possibile espandere i punti delle risposte generate dal bot, semplicemente chiediglielo!
            </p>
            <p>È possibile cambiare la modalità del bot durante la chat.
            </p>
            <p>È possibile interropere la sessione in qualsiasi momento e riprenderla più tardi, il server si occupa di tutti i salvataggi. 
            </p>
            <p>Il pulsante nuova chat serve per cancellare tutti i precedenti messaggi ed iniziare una chat da zero.
            </p>
	    <p>La velocità di risposta del bot dipende dal prompt dell'utente, aspetta finchè la pagina non carica la risposta prima di eseguire altre azioni.
            </p>

        <p style="font-weight:bold;font-size:20px";>Generatore Immagini </p>
        <p>Per generare una o più immagini è sufficiente inserire la descrizione di ciò che si vuole rappresentare e premere invio.<br>
        È necessario selezionare quante immagini produrre (da 1 a 10) e la qualità dell'immagine (bassa 256X256, media 512X512, alta 1024X1024).<br>
        Con la checkbox "prompt assistito" è possibile migliorare il proprio prompt tramite l' assistenza di GPT-4, è consigliato tenere attiva questa impostazione se non ad utenti esperti.<br>
        Le immagini prodotte non vengono salvate, è compito dell'utente scaricare le immagini che ritiene migliori. <br><br>
        Si tenga a mente che ogni volta che si fa una nuova generazione o si esce dalla pagina le immagini saranno perse.<br>
        I link generati durano un'ora dalla creazione, dopodichè le immagini saranno cancellate.<br>
        Le immagini non verranno generate se il prompt non rispetta la policy di OpenAI (<a href="https://labs.openai.com/policies/content-policy">https://labs.openai.com/policies/content-policy</a>).</p>

        <p style="font-weight:bold;font-size:20px;">Cancellazione dell'account </p>

        <p>La cancellazione è permanente, non ci sarà alcun modo di recuperare l'account e le chat collegate.</p>

        <a href="http://localhost:5000/login">Ora sei pronto per iniziare! Cliccami!</a>
    </fieldset>
   </body>
</html>
